<nav class="nav">
  <ul>
    <li>
      Home
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li>
      About
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li>
      Skill
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li>
      Work
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li>
      Blog
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li>
            Contact
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
  </ul>
</nav>
