<nav class="nav">
  <ul>
    <li (click)="linkClicked('home')">
      Home
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li (click)="linkClicked('about')">
      About
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li (click)="linkClicked('skill')">
      Skill
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li (click)="linkClicked('work')">
      Work
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li (click)="linkClicked('blog')">
      Blog
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
    <li (click)="linkClicked('contact')">
      Contact
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </li>
  </ul>
</nav>
