/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);
sky-root {
    // font-family: normal 300 1em/1.5em 'Ubuntu', sans-serif;
    font-family: josefin sans;
    // font-family: 'Roboto Condensed', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}